*{
    margin:0px;
    padding: 0px;
}
.navcontainer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    width: 200px;
}
.menu{
    display: flex;
    list-style: none;
    margin-left: 25px;
}