*{
    margin:0px;
    padding: 0px;
}
.navcontainer{
    display: flex;
    background-color: rgb(32, 32, 32);
    color: white;
    justify-content: space-around;
    align-items: center;
    
}
.logodiv{
    padding: 10px;
}
.logo{
    width: 200px;
}
.menu{
    display: flex;
    list-style: none;
}
.menulist{
    margin-left: 15px;
}